<ul>
  <li><a href="/">Home</a></li>
  <% if session['user_id'] == nil %>
  <li><a href="/signup">Sign up</a></li>
  <li><a href="/login">Login</a></li>
  <% end %>
  <li><a href="/posts/new">Write a Post</a></li>
  <% if session['user_id'] %>
    <form action='/logout' method='post'>
       <input type='submit' value='Log out'>
    </form>
  <% end %>
</ul>