<form action="/" method="POST">
    <input type="text" name="content" placeholder="Write a message...">
</form>
<div id="home">
    <div id="posts">
        <h1>Posts will show up here</h1>
    </div>