<div class="home-header">
  <div class="header-content">
  <h1 id="main-title">CouchGamer</h1>
  <p class="copy">
  A blog for gamers.
  </p>
  <a href="/users/new" class="btn btn-primary">Sign up</a> <% 3.times do %> &nbsp <% end %>
  <a href="/posts/new" class="btn btn-primary">Start writing</a>
  </div>
</div>