<h1>Login to your account</h1>
<form action="/login" method='POST'>
 <input type="email"name="email" placeholder= "E-mail"><br>
 <input type="password" name="password" placeholder= "password"><br>
 <input type="submit" value="Login">
</form>