<h1>Create your Account</h1>
<form action="/signup" method='POST'>
 <input type="text"name="user[first_name]" placeholder= "First Name"><br>
 <input type="text"name="user[last_name]" placeholder= "Last Name"><br>
 <input type="email"name="user[email]" placeholder= "E-mail"><br>
 <input type="password" name="user[password]" placeholder= "password"><br>
 <input type="date" name="user[birthday]"><br>
 <input type="submit" value="submit">
</form>